NEXT_PUBLIC_API_URL=http://localhost:3001/api
NEXT_PUBLIC_NETWORK_PASSPHRASE=Test SDF Network ; September 2015
NEXT_PUBLIC_SOROBAN_RPC=https://soroban-testnet.stellar.org
NEXT_PUBLIC_TASK_MANAGER_CONTRACT_ID=
NEXT_PUBLIC_EXECUTION_ENGINE_CONTRACT_ID=
